<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>边缘社区-新用户注册</title>
    </head>
    <body>
        <form action="/account" method="POST" enctype="application/x-www-form-urlencoded">
            昵称：
            <label>
                <input type="text" name="Name">
            </label>
            <br>
            账户：
            <label>
                <input type="text" name="Account">
            </label>
            <br>
            密码：
            <label>
                <input type="password" name="Password1">
            </label>
            <br>
            密码确认：
            <label>
                <input type="password" name="Password2">
            </label>
            <br>
            <div>{{ .Tip }}</div>
            <input type="submit" value="提交">
        </form>
        <form action="/">
            <input type="submit" value="返回">
        </form>
    </body>
</html>