<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>边缘社区-评论编辑</title>
        <script src="../static/js/image.js"></script>
        <link rel="stylesheet" href="../static/css/ef.css" type="text/css">
    </head>
    <body>
        {{ template "comp/comp_login_head_info.html" . }}
        <p>重新编辑评论内容：</p>
        <form method="POST" action="/cmt">
            <label>
                <input hidden type="text" name="_method" value="PUT">
            </label>
            <label>
                <input hidden type="text" name="CmtID" value="{{ .vm.CmtID }}">
            </label>
            <label>
                <input hidden type="text" name="CmtPageIndex" value="{{ .vm.CmtPageIndex }}">
            </label>
            <p>
                <label>
                    <textarea class="cmtInput" name="CmtContent" id="EditingInputControl">{{ .vm.OriCmtContent }}</textarea>
                </label>
            </p>
            <p>
                <input type="submit" value="提交">
            </p>
        </form>
        <br>
        {{ template "comp/comp_img_control.html" }}
    </body>
</html>