<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>边缘社区-评论编辑</title>
    </head>
    <body>
        {{ template "login.html" . }}
        <p>重新编辑评论内容：</p>
        <form method="POST" action="/Cmt/EditSubmit">
            <input hidden type="text" name="cmtID" value="{{ .CmtID }}">
            <input hidden type="text" name="CmtPageIndex" value="{{ .CmtPageIndex }}">
            <p><input type="text" name="cmtContent" value="{{ .OriCmtContent }}"></p>
            <p><input type="submit" value="提交"></p>
        </form>
    </body>
</html>