<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>边缘社区-发布新帖</title>
    </head>
    <body>
        {{ template "comp/comp_login_head_info.html" . }}
        <h1>{{.vm.ThemeName}}</h1>
        <form method="POST" action="/newPost" enctype="application/x-www-form-urlencoded">
            <!-- 不可见，默认选中了目标主题 -->
            <div hidden>
                <span>主题：</span>
                <label>
                    <input type="text" name="ThemeID" value="{{.vm.ThemeID}}">
                </label>
            </div>
            <p>
                <span>标题：</span>
                <label>
                    <input type="text" name="Title">
                </label>
            </p>
            <p>
                <span>内容：</span>
                <label>
                    <input type="text" name="Content">
                </label>
            </p>
            <p>
                <input type="submit" value="提交">
            </p>
        </form>
    </body>
</html>