<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>边缘社区-标题编辑</title>
        <link rel="stylesheet" href="../static/css/ef.css" type="text/css">
    </head>
    <body>
        {{ template "comp/comp_login_head_info.html" . }}
        <p>重新编辑标题内容：</p>
        <form method="POST" action="/newPost" enctype="application/x-www-form-urlencoded">
            <label>
                <input hidden type="text" name="_method" value="PUT">
            </label>
            <label>
                <input hidden type="text" name="PostID" value="{{ .vm.PostID }}">
            </label>
            <p>
                <label>
                    <textarea class="titleInput" name="Title">{{ .vm.OriTitle }}</textarea>
                </label>
            </p>
            <p><input type="submit" value="提交"></p>
        </form>
    </body>
</html>