<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>边缘社区-{{ .vm.Title }}</title>
    <script>
        function onCheckBoxClicked(isPrise,id){
            //发起http请求，要求修改赞踩数量
            const typeStr = isPrise ? "p" : "b";
            const cb = document.getElementById(id + typeStr + "_cb");
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("POST", "/attitude", true);
            httpRequest.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            httpRequest.onreadystatechange = function(){
                //没完成，就不做任何操作
                if(httpRequest.readyState !== 4){
                    return;
                }
                //如果成功
                if(httpRequest.status === 200){
                    const times = document.getElementById(id + typeStr + "_times");
                    if (cb.checked){
                        times.innerText = (parseInt(times.innerText)+1).toString();
                    }else{
                        times.innerText = (parseInt(times.innerText)-1).toString();
                    }
                }else{
                    cb.checked =!cb.checked;
                    alert(httpRequest.responseText);
                }
            };
            httpRequest.send("CmtID="+id+"&IsP="+isPrise+"&IsD="+cb.checked);
        }
    </script>
    <link rel="stylesheet" href="../static/css/ef.css" type="text/css">
</head>
<body>
    <!--导航-->
    {{ template "comp/comp_login_head_info.html" . }}
    <a href="/theme?ThemeID={{ .vm.ThemeID }}&PageIndex=0">{{ .vm.ThemeName }}</a>
    <!--主帖标题-->
    <h1>{{ .vm.Title }}</h1>
    {{ if .vm.AllowEditTitle }}
    <a href="/newPost?PostID={{ .vm.ID }}">编辑标题</a>
    {{ end }}
    {{ template "comp/comp_page_navigation.html" . }}
    <br>
    <!-- 评论 -->
    {{ range .vm.Comments }}
    <div>
        <span>[{{ .IndexStr }}]</span>
        <a href="/user?UserID={{ .CmterID }}">{{ .CmterName }}</a>
        <img src="{{ .CmterHeadPhotoPath }}" class="headPhotoShowInPost">
        <span>{{ .CmtTimeF }}</span>
        <!-- 如果拥有编辑的权力 -->
        {{ if .AllowEdit }} 
        <a href="/cmt?CmtID={{ .ID }}&CmtPageIndex={{ .CmtPageIndex }}">编辑</a>
        {{ end }}
    </div>
    <p>
        <label class="cmtShow">{{ .ContentESC }}</label>
    </p>
    <div>
        <label for="{{.ID}}p_cb"></label><input type="checkbox" id="{{.ID}}p_cb" {{.IsPChecked}} onclick="onCheckBoxClicked(true,{{ .ID }})"> 赞(<span id="{{.ID}}p_times">{{ .PraiseTimes }}</span>)
        <label for="{{.ID}}b_cb"></label><input type="checkbox" id="{{.ID}}b_cb" {{.IsBChecked}} onclick="onCheckBoxClicked(false,{{ .ID }})">踩(<span id="{{.ID}}b_times">{{ .BelittleTimes }}</span>)
    </div>
    <br>
    {{ end }}
    {{ template "comp/comp_page_navigation.html" . }}
    <br>
    <a href="cmt?CmtID=0&CmtPageIndex={{ .vm.ID }}">发表评论</a>
    <br>
    <form method="POST" action="/cmt">
        <label>
            <input hidden type="text" name="PostID" value="{{ .vm.ID }}">
        </label>
        <p>快速评论：</p>
        <p>
            <label>
                <input type="text" name="CmtContent" width="640" height="45">
            </label>
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
</body>