<!DOCTYPE html>
<html>
    <head>        
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <title>{{ .vm.WebTitle }}</title>
    </head>
    <body>
        {{ template "comp/comp_login_head_info.html" . }}
        <br>
        {{ template "comp/comp_page_navigation.html" . }}
        <br>
        {{ if .loginInfo.IsLogin }}
        <!-- 如果处于登录状态下，这里有一个发帖按钮，这里是表单 -->
        <div>
            <a href="/newPost?ThemeID={{.vm.ThemeID}}&PostID=0">发布新帖子</a>
        </div>
        <br>
        {{ end }}
        <!--下面是所有帖子的列表-->
        {{ range .vm.PostHeaders }}
        <div>
            <span>[{{.CmtCount}}评]</span>
            <a href="/post?PostID={{.ID}}&PageIndex=0">{{.Title}}</a>
        </div>
        <div>
            创建：<a href="/User/{{.CreaterID}}">{{ .CreaterName }}</a>于{{ .CreatedTimeF }}
        </div>
        {{ if .IsHasCmt }}
            <div>
                最后评论：<a href="/User/{{.LastCmterID}}">{{ .LastCmterName }}</a>于{{ .LastCmtTimeF }}
            </div>
        {{ end }}
        <br>
        {{ end }}
        {{ template "comp/comp_page_navigation.html" . }}
        <br>
    </body>
</html>
